
<p>
  <strong>first name:</strong>
  <%= @author.first_name.downcase %>
</p>
<p>
  <strong>last name:</strong>
  <%= @author.last_name.downcase %>
</p>
<p>
  <strong>homepage:</strong>
  <%= @author.homepage.downcase %>
</p>