<p> 
  Authors: 
  <% @paper.authors.each do |author| %>
     <%= author.name %> 
     <br>
     <% end %>

</p>


<p>
  Title: <%= @paper.title %>
</p>
<p>
  Venue: <%= @paper.venue %>
</p>
<p>
  Year: <%= @paper.year %>
</p>
